<div class="box_grayLinewhite mt5">
    <h4 style="display:none;" id="addTitle"><liquidtpl:text key="reminder"/> <liquidtpl:text key="add"/> </h4>
    <h4 style="display:none;" id="editTitle"><liquidtpl:text key="reminder"/> <liquidtpl:text key="edit"/> </h4>
    <script type="text/javascript">
        //<![CDATA[
        function refreshRepeatType() {
            var selectedVal = $('#repeatTypeField > option:selected').val();
            $('.repeat').hide();
            if(selectedVal != 'N'){
                $('#repeatCycleField').empty();
                if(selectedVal == 'D'){
                    $.tmpl( "optionsTemplate", $.repeatCycleDailyMap ).appendTo( "#repeatCycleField");
                } else if(selectedVal == 'W'){
                    $.tmpl( "optionsTemplate", $.repeatCycleWeeklyMap ).appendTo( "#repeatCycleField");
                } else if(selectedVal == 'M'){
                    $.tmpl( "optionsTemplate", $.repeatCycleMonthlyMap ).appendTo( "#repeatCycleField");
                } else if(selectedVal == 'Y'){
                    $.tmpl( "optionsTemplate", $.repeatCycleYearlyMap ).appendTo( "#repeatCycleField");
                }
                $('.repeat' + selectedVal).show();
                $('.repeat_common').show();
            }
        }

        function refreshIsEnd() {
            var checked = $('#isEndField').get(0).checked;
            if(checked){
                $('#endDateField').show();
            } else {
                $('#endDateField').hide();
            }
        }

        $(function(){
            $.reminderForm = {};
            $.reminderForm.senderEmailList = {};
            $.reminderForm.contactGroups = {};
            $.reminderForm.onSenderChange = function(){
                var selected = $("#senderEmailField option:selected").val();
                var name = $("#senderNameField").val();

                var len = $.reminderForm.senderEmailList.length;
                for(var i = 0; i < len; i++) {
                    var senderEmail = $.reminderForm.senderEmailList[i];
                    if(senderEmail["email"] == selected)
                    {
                        name = senderEmail["name"];
                    }
                }

                $("#senderNameField").val(name);
            };
            $.template( "senderEmailOptionsTemplate", '<option value="${email}">${email}<\/option>' );
            $.initForm("reminderForm", "/reminder/json", null, function(jsonData){
                var values = jsonData.values;
                $( "#repeatWeekDaysItem" ).tmpl( values.repeatWeekDaysMapAll ).appendTo( "#repeatWeekDaysField");
                $.tmpl( "optionsTemplate", values.repeatTypeMap ).appendTo( "#repeatTypeField");

                //Repeat Cycle by repeatType
                $.repeatCycleDailyMap = values.repeatCycleDailyMap;
                $.repeatCycleWeeklyMap = values.repeatCycleWeeklyMap;
                $.repeatCycleMonthlyMap = values.repeatCycleMonthlyMap;
                $.repeatCycleYearlyMap = values.repeatCycleYearlyMap;

                //set form data manually
                $.setFormValues("reminderForm", jsonData);
                $.showFormTitle("reminderForm");

                //Sender
                $.initList("senderEmailField", "senderEmailOptionsTemplate", true, "/userdata/json", {sender: "withoutlogin"}, function(listData){
                    $.setListValues("senderEmailField", "senderEmailOptionsTemplate", true, listData)
                    $.reminderForm.senderEmailList = listData["values"];
                    $("#senderEmailField").val(jsonData["values"]["senderEmail"]);
                });

                //recipients
                var recipients = values.recipients;
                if(recipients != null){
                    var recipientsSize = recipients.length;
                    var recipientsValue = "";
                    for(var i = 0; i < recipientsSize; i++){
                        recipientsValue += recipients[i] + "\n";
                    }
                    $("#recipientsField").val(recipientsValue);
                }

                //refresh repeat type after form set
                refreshRepeatType();
                // select repeatCycle after refresh
                $('#repeatCycleField').val(values.repeatCycle);

                refreshIsEnd();
            });
        });
        //]]>
    </script>
    <form action="/reminder/form" id="reminderForm" style="display: none;">
        <div id="grobalError" class="warningMessage"  style="display:none;" > </div>
        <div class="ma5">
            <label class="bold"><liquidtpl:text key="reminder.from"/> </label>
            <span id="senderNameError" class="warningMessageOne" style="display:none;" > </span>
            <div>
                <input id="senderNameField" name="senderName" class="w35" />&nbsp;
                <select name="senderEmail" id="senderEmailField" onchange="$.reminderForm.onSenderChange();" > </select>
            </div>
        </div>
        <div class="ma5">
            <label class="bold"><liquidtpl:text key="reminder.subject"/> </label>
            <span id="subjectError" class="warningMessageOne" style="display:none;" > </span>
            <input id="subjectField" name="subject" class="w99" />
        </div>
        <div class="ma5">
            <label class="bold"><liquidtpl:text key="reminder.content"/> </label>
            <span id="contentError" class="warningMessageOne" style="display:none;" > </span>
            <textarea id="contentField" name="content" class="w99" rows="10"> </textarea>
        </div>
        <hr />
        <div class="ma5">
            <label class="bold"><liquidtpl:text key="reminder.startDate"/> </label>
            <span id="startDateError" class="warningMessageOne" style="display:none;" > </span>
            <input id="startDateField" name="startDate" /><br/>
            <select id="repeatTypeField" name="repeatType" onchange="refreshRepeatType();"> </select>
            <span id="repeatTypeError" class="warningMessageOne" style="display:none;" > </span>
            <div class="repeat repeat_common" style="display: None;">
                <select id="repeatCycleField" name="repeatCycle"> </select>
                <span id="repeatCycleError" class="warningMessageOne" style="display:none;" > </span>
                <span class="repeat repeatW" style="display: None;">
                    <span id="repeatWeekDaysField" name="repeatWeek"> </span>
                    <script id="repeatWeekDaysItem" type="text/x-jquery-tmpl">
                        <label for="repeatWeekDaysField_${key}">
                            <input class="mr0" id="repeatWeekDaysField_${key}" name="repeatWeekDays[]" value="${key}" type="checkbox"/>
                            ${value}
                        </label>
                    </script>
                    <span id="repeatWeekDaysError" class="warningMessageOne" style="display:none;" > </span>

                </span>
                <div>
                    <label for="isEndField">
                        <input class="mr0" id="isEndField" name="isEnd" type="checkbox" onclick="refreshIsEnd();"/>
                        <liquidtpl:text key="reminder.isEnd" />
                    </label>
                    &nbsp;&nbsp;<input id="endDateField" name="endDate" />
                    <span id="endDateError" class="warningMessageOne" style="display:none;" > </span>
                </div>
            </div>
        </div>
        <hr />
        <div class="ma5">
            <label class="bold"><liquidtpl:text key="reminder.recipients"/> </label>
            <span id="recipientsError" class="warningMessageOne" style="display:none;" > </span>
            <textarea id="recipientsField" name="recipients" class="w99" rows="5"> </textarea>
            <div><liquidtpl:text key="reminder.recipientsMessage"/> </div>
        </div>
    </form>
</div>