<script type="text/javascript">
    //<![CDATA[
    $(function(){
        $.urlParams = $.getUrlParams();
        $.initList( "magazineList", "magazineItem", true, "/magazine/json", null, function(jsonData){
            $.initList( "contactGroup", "senderEmailOptionsTemplate", true, "/contact/groupjson", null, function(listData){
                $.setListValues( "contactGroup", "senderEmailOptionsTemplate", true, listData);
                $("#contactGroup").val($.urlParams["contactGroupKey"]);
            } );

            $.setListValues( "magazineList", "magazineItem", true, jsonData);
        });
        $.template( "senderEmailOptionsTemplate", '<option value="${id}">${name}<\/option>' );
        
    });
    function onChangeGroup(){
        location.href = "/magazine/index?contactGroupKey=" + $("#contactGroup").val();
    }
    //]]>
</script>
<h4><liquidtpl:text key="mailMagazine"/> <liquidtpl:text key="list"/></h4>
<form action="/magazine/index">
    <label for="contactGroup"><liquidtpl:text key="contactGroup"/>: <select id="contactGroup" onchange="onChangeGroup();" /></label>
</form>

<table id="magazineList" class="listTable" style="display: none;">
    <tr>
        <th><liquidtpl:text key="mailMagazine.subject"/></th>
<th><liquidtpl:text key="mailMagazine.sendDateTime"/></th>
<th></th>
<th></th>
</tr>
</table>
<script id="magazineItem" type="text/x-jquery-tmpl">
    <tr class="row selectable">
        <td>${subject}</td>
        <td class='thin'>${sendDateTime}</td>
<td class='thin'><a href="/magazine/form?id=${id}&amp;contactGroupKey=${contactGroupKey}" class="icon_edit"><liquidtpl:text key="edit"/></a></td>
<td class='thin'><a href="/magazine/delete?id=${id}" class="icon_delete" onclick="return confirm('${deleteConfirm}');"><liquidtpl:text key="delete"/></a></td>
</tr>
</script>